.bg-vector {

  .dotted {
    position: absolute;
    top: 13rem;
    width: 100%;
    height: 100%;
    background-image: url('../vector/dotted.svg');
    background-size: contain;
  }

  .blob-1 {
    @include vectorPosition(5rem, -8rem);

    svg {
      @include media('<lg') {
        max-width: 35rem;
      }

      @include media('<sm') {
        max-width: 90%;
      }
    }

    @include media('<lg') {
      top: 1rem;
    }
  }

  .blob-2 {
    @include vectorPosition(15rem, 0, top, right);
    overflow-x: hidden;

    svg {
      margin-right: -22rem;

      @include media('<lg') {
        margin-right: -15rem;
        max-width: 32rem;
      }

      @include media('<sm') {
        margin-right: -22rem;
        max-width: 30rem;
      }
    }

    @include media('<lg') {
      top: 5rem;
    }

    @include media('<md') {
      top: 20rem;
    }
  }

  .blob-3 {
    @include vectorPosition(35rem, 27rem);

    svg {
      @include media('<sm') {
        max-width: 70%;
      }
    }

    @include media('<lg') {
      top: 32rem;
      left: 18rem;
    }

    @include media('<md') {
      left: 10rem;
    }

    @include media('<sm') {
      top: 31rem;
      left: 10%;
    }
  }

  .plane {
    @include vectorPosition(10rem, 4rem);

    svg {
      @include media('<lg') {
        max-width: 15rem;
      }

      @include media('<sm') {
        max-width: 60%;
      }
    }

    @include media('<lg') {
      top: 4rem;
      left: 8rem
    }

    @include media('<sm') {
      left: 1rem;
    }
  }

  .dot-square {
    @include vectorPosition(45rem, 0);
  }

  // about area
  .vector-about {
    &>* {
      z-index: 1 !important;
    }

    .love-1 {
      @include vectorPosition(62rem, 15rem);

      @include media('<lg') {
        top: 54rem;
        left: 12%;
      }
    }

    .love-2 {
      @include vectorPosition(69rem, 8rem, 'top', 'right');

      @include media('<lg') {
        top: 64rem;
        right: 5%;
      }

      @include media('<md') {
        top: 73rem;
      }

      @include media('<sm') {
        right: 1%;
      }

      svg {
        @include media('<sm') {
          width: 75%;
          height: 75%
        }
      }
    }

    .bulb-1 {
      @include vectorPosition(76rem, 4rem);

      @include media('<lg') {
        top: 65rem;
      }

      @include media('<md') {
        top: 95rem;
        left: 1%;
      }
    }

    .bulb-2 {
      @include vectorPosition(98rem, 6rem);

      @include media('<lg') {
        top: 85rem;
        left: 5%;
      }

      @include media('<md') {
        top: 130rem;
        left: 5%;
      }
    }

    .blob-4 {
      @include vectorPosition(85rem, 10rem, 'top', 'right');

      @include media('<xl') {
        top: 79rem;
        right: 5%;
      }

      @include media('<lg') {
        top: 72rem;
        right: 6%;
      }

      @include media('<md') {
        top: 128rem;
        right: 20%;
      }

      @include media('<sm') {
        top: 122rem;
        right: 0;
        left: 20%;
      }

      svg {
        @include media('<lg') {
          width: 351px;
          height: 283px;
        }

        @include media('<md') {
          width: 90%;
          height: 90%;
        }

        @include media('<sm') {
          width: 75%;
          height: 75%;
        }
      }
    }
  }
}