footer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  .logo a {
    text-decoration: none;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    color: $color-primary;
  }

  .social {
    p {
      display: inline-block;
      font-size: 1.17em;
      letter-spacing: 0.5em;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }

    &-icon {
      width: 10rem;
      display: flex;
      justify-content: space-between;

      .icon a {
        svg path {
          fill: #666;
          transition: 0.3s;
        }

        &:hover svg path {
          fill: #000;
        }
      }
    }
  }

  .copyright {
    p {
      text-align: center;
      line-height: 1.5em;
      margin-top: 4rem;
      margin-bottom: 2.5rem;

      img {
        width: 0.8em;
        margin-right: 1px;
      }

      a {
        font-weight: 500;
        color: $color-primary;
      }
    }
  }
}
