.project {
    position: relative;
    z-index: 1;
    padding: 1rem;

    &-wrapper {
        @include container('md');

        .heading {
            .line {
                position: relative;
                display: inline-block;

                &::before {
                    content: '';
                    position: relative;
                    display: inline-block;
                    width: 5rem;
                    height: 4px;
                    border-radius: 2px;
                    background-color: $color-primary;
                }

                &::after {
                    content: '';
                    position: relative;
                    display: inline-block;
                    width: 1.5rem;
                    height: 4px;
                    border-radius: 2px;
                    background-color: $color-primary;
                    margin-left: 0.5rem;
                }
            }

            & > span {
                font-size: 1.1em;
                color: #555;
                letter-spacing: 0.4em;
                margin-left: 0.5rem;
            }

            h2 {
                font-size: 3em;
                font-weight: 900;
                letter-spacing: 0.02em;
                margin-top: 1.5rem;

                span {
                    color: $color-primary;
                }
            }
        }

        .body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 4rem;
            gap: 2rem;

            @include media('<xl') {
                justify-content: center;
            }

            .card {
                @include media('<xl') {
                    padding: 2rem;
                }

                @include media('<xl') {
                    padding: 2rem 0;
                }

                a {
                    text-decoration: none;
                    color: #333;
                }

                img {
                    width: 20rem;
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
                    margin-bottom: 0.8rem;
                    transition: 0.3s;

                    &:hover {
                        transform: translateY(-0.5rem);
                    }

                    @include media('<sm') {
                        width: 100%;
                    }
                }

                p {
                    font-size: 1.05em;
                    // font-weight: 500;
                    letter-spacing: 0.04em;
                    text-align: center;
                    transition: 0.3s;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}
