@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

header {
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2rem 1rem;
}

@media (max-width: 539px) {
  header {
    max-width: 100%;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  header {
    max-width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    max-width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  header {
    max-width: 1140px;
  }
}

@media (min-width: 1401px) {
  header {
    max-width: 1320px;
  }
}

header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  font-size: 2em;
  color: #6a6a6a;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
}

header nav .logo span {
  display: inline-block;
  font-family: 'Pacifico', cursive;
  font-size: 1.3em;
  color: #6A12E8;
  padding-right: .75rem;
}

@media (max-width: 991px) {
  header nav .logo {
    font-size: 1.5em;
  }
}

header nav .nav-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  header nav .nav-menu {
    display: none;
  }
}

@media (max-width: 991px) {
  header nav .nav-menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    right: 0;
    background-color: #eee;
    width: 50%;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  header nav .nav-menu li a {
    display: inline-block;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2em;
  }
  header nav .nav-menu::before {
    content: '';
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

@media (max-width: 767px) {
  header nav .nav-menu {
    width: 60%;
  }
}

@media (max-width: 539px) {
  header nav .nav-menu {
    width: 75%;
  }
}

header nav .nav-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header nav .nav-menu.active::before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

header nav .nav-menu a {
  text-decoration: none;
  position: relative;
  font-size: 1em;
  letter-spacing: .04em;
  color: #000;
  margin: 0 .5rem;
  padding: .5rem .3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

header nav .nav-menu a.active, header nav .nav-menu a:hover {
  color: #6A12E8;
}

header nav .nav-menu a::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: #6A12E8;
  bottom: 0;
  left: 0;
  border-radius: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

header nav .nav-menu a:hover::after, header nav .nav-menu a.active::after {
  width: 100%;
}

header nav .nav-toggle {
  position: relative;
  right: 0;
  width: 30px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 99;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

@media (min-width: 993px) {
  header nav .nav-toggle {
    display: none;
  }
}

header nav .nav-toggle span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 15%;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

header nav .nav-toggle span:nth-child(2) {
  width: 80%;
}

header nav .nav-toggle.active {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

header nav .nav-toggle.active span:nth-child(2) {
  opacity: 0;
  width: 0;
  /* display: none; */
}

header nav .nav-toggle.active span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

header nav .nav-toggle.active span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

header nav .nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  header nav .nav-social {
    display: none;
  }
}

header nav .nav-social .social a {
  text-decoration: none;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

header nav .nav-social .social a img {
  width: 1.3rem;
  margin: .325rem;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav .nav-social .social a:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

header nav .nav-social .border-right {
  height: 2rem;
  border-right: 1px solid #333;
  margin: 1rem;
}

header nav .nav-social .btn-primary {
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  border: none;
  padding: .6rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#6A12E8), to(#8B09FF));
  background: linear-gradient(90deg, #6A12E8, #8B09FF);
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

header nav .nav-social .btn-primary:hover {
  background: -webkit-gradient(linear, left top, right top, from(#5f10d0), to(#7e00ef));
  background: linear-gradient(90deg, #5f10d0, #7e00ef);
}

@media (max-width: 991px) {
  header {
    padding: 1rem;
  }
}

.banner-wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 539px) {
  .banner-wrapper {
    max-width: 100%;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .banner-wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner-wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .banner-wrapper {
    max-width: 1140px;
  }
}

@media (min-width: 1401px) {
  .banner-wrapper {
    max-width: 1320px;
  }
}

.banner-wrapper .banner-text h1 {
  margin-bottom: .5rem;
}

.banner-wrapper .banner-text h1 span {
  display: block;
}

.banner-wrapper .banner-text h1 span:nth-child(1) {
  font-size: 1.5em;
  letter-spacing: 0.4em;
  font-weight: 500;
  color: #6A12E8;
  margin-bottom: .2rem;
}

.banner-wrapper .banner-text h1 span:nth-child(2) {
  font-size: 3.8em;
  letter-spacing: .075em;
  font-weight: 900;
  color: #6A12E8;
  margin-bottom: 1rem;
}

@media (max-width: 539px) {
  .banner-wrapper .banner-text h1 span:nth-child(2) {
    font-size: 3.4em;
  }
}

.banner-wrapper .banner-text h1 span:nth-child(3) {
  font-size: 2em;
  font-weight: 700;
  color: #333;
}

.banner-wrapper .banner-text .typed-container {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #333;
  font-size: 1.8em;
  font-weight: 500;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.banner-wrapper .banner-text .text-about {
  width: 27rem;
  font-size: 1.1em;
  line-height: 25px;
  letter-spacing: .15em;
  color: #333;
}

@media (max-width: 539px) {
  .banner-wrapper .banner-text .text-about {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .banner-wrapper .banner-text {
    font-size: .9em;
  }
}

@media (max-width: 767px) {
  .banner-wrapper .banner-img {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 1399px) {
  .banner-wrapper {
    padding: 4rem 1rem;
  }
}

@media (max-width: 767px) {
  .banner-wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.about {
  background-color: #eee;
  margin-top: 16rem;
}

.about-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media (max-width: 539px) {
  .about-wrapper {
    max-width: 100%;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .about-wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .about-wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .about-wrapper {
    max-width: 1140px;
  }
}

@media (min-width: 1401px) {
  .about-wrapper {
    max-width: 1320px;
  }
}

.about-wrapper h2 {
  font-size: 3.5em;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.about-wrapper h2 span {
  color: #6A12E8;
}

.about-wrapper p {
  font-size: 1.1em;
  letter-spacing: .05em;
  line-height: 1.5rem;
  max-width: 54rem;
  margin: 2rem auto;
}

.about-wrapper .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media (max-width: 767px) {
  .about-wrapper .skills-img {
    margin: auto;
    width: 80%;
  }
}

.about-wrapper .skills-wrapper {
  text-align: start;
  padding: 1rem;
  overflow-x: hidden;
}

.about-wrapper .skills-wrapper nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: "Roboto", sans-serif;
  letter-spacing: .05em;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: #6A12E8;
  margin-right: 3rem;
  margin-bottom: 1.5rem;
  padding: .3rem .2rem;
}

.about-wrapper .skills-wrapper nav button.active, .about-wrapper .skills-wrapper nav button:hover {
  color: #6A12E8;
}

.about-wrapper .skills-wrapper nav button::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  background-color: #6A12E8;
  bottom: 0;
  left: 0;
  border-radius: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

.about-wrapper .skills-wrapper nav button:hover::after, .about-wrapper .skills-wrapper nav button.active::after {
  width: 100%;
}

.about-wrapper .skills-wrapper .skills-set .skill-box {
  padding: .8rem 1.5rem;
  border-radius: 4px;
  background-color: rgba(238, 238, 238, 0.5);
  -webkit-box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-bottom: 1.2rem;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  display: none;
  opacity: 0;
  -webkit-transform: translateX(8rem);
          transform: translateX(8rem);
}

.about-wrapper .skills-wrapper .skills-set .skill-box.show {
  display: block;
}

.about-wrapper .skills-wrapper .skills-set .skill-box.show-transition {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about-wrapper .skills-wrapper .skills-set .skill-box .skill-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5rem;
}

.about-wrapper .skills-wrapper .skills-set .skill-box .skill-name span {
  color: #808080;
}

.about-wrapper .skills-wrapper .skills-set .skill-box .slider-container {
  border: 3px solid #6A12E8;
  border-radius: 4px;
  padding: .2rem;
}

.about-wrapper .skills-wrapper .skills-set .skill-box .slider-container .slider {
  width: 50%;
  height: 1.5rem;
  background-color: #6A12E8;
  border-radius: 8px;
}

.about-wrapper .skills-wrapper .skills-set .skill-box:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media (max-width: 767px) {
  .about-wrapper .skills {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.about .wave-1 svg {
  position: absolute;
  z-index: -2;
  left: 0;
  width: 100%;
  margin-top: -10rem;
}

@media (max-width: 539px) {
  .about .wave-1 svg {
    margin-top: -9rem;
  }
}

.bg-vector .dotted {
  position: absolute;
  top: 13rem;
  width: 100%;
  height: 100%;
  background-image: url("../vector/dotted.svg");
  background-size: contain;
}

.bg-vector .blob-1 {
  position: absolute;
  z-index: -1;
  top: 5rem;
  left: -8rem;
}

@media (max-width: 991px) {
  .bg-vector .blob-1 svg {
    max-width: 35rem;
  }
}

@media (max-width: 539px) {
  .bg-vector .blob-1 svg {
    max-width: 90%;
  }
}

@media (max-width: 991px) {
  .bg-vector .blob-1 {
    top: 1rem;
  }
}

.bg-vector .blob-2 {
  position: absolute;
  z-index: -1;
  top: 15rem;
  right: 0;
  overflow-x: hidden;
}

.bg-vector .blob-2 svg {
  margin-right: -22rem;
}

@media (max-width: 991px) {
  .bg-vector .blob-2 svg {
    margin-right: -15rem;
    max-width: 32rem;
  }
}

@media (max-width: 539px) {
  .bg-vector .blob-2 svg {
    margin-right: -22rem;
    max-width: 30rem;
  }
}

@media (max-width: 991px) {
  .bg-vector .blob-2 {
    top: 5rem;
  }
}

@media (max-width: 767px) {
  .bg-vector .blob-2 {
    top: 20rem;
  }
}

.bg-vector .blob-3 {
  position: absolute;
  z-index: -1;
  top: 35rem;
  left: 27rem;
}

@media (max-width: 539px) {
  .bg-vector .blob-3 svg {
    max-width: 70%;
  }
}

@media (max-width: 991px) {
  .bg-vector .blob-3 {
    top: 32rem;
    left: 18rem;
  }
}

@media (max-width: 767px) {
  .bg-vector .blob-3 {
    left: 10rem;
  }
}

@media (max-width: 539px) {
  .bg-vector .blob-3 {
    top: 31rem;
    left: 10%;
  }
}

.bg-vector .plane {
  position: absolute;
  z-index: -1;
  top: 10rem;
  left: 4rem;
}

@media (max-width: 991px) {
  .bg-vector .plane svg {
    max-width: 15rem;
  }
}

@media (max-width: 539px) {
  .bg-vector .plane svg {
    max-width: 60%;
  }
}

@media (max-width: 991px) {
  .bg-vector .plane {
    top: 4rem;
    left: 8rem;
  }
}

@media (max-width: 539px) {
  .bg-vector .plane {
    left: 1rem;
  }
}

.bg-vector .dot-square {
  position: absolute;
  z-index: -1;
  top: 45rem;
  left: 0;
}
/*# sourceMappingURL=main.css.map */